html,
body {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  position: fixed;
}

.sideBar {
  height: 100%;
  transition: width 0.3s ease-in-out;
  overflow: auto;
}

.sideBar.dark, .section-title.dark{
  background: #1e1f1c;
  color: #a5a5a4;
}

.sideBar.light, .section-title.light{
  background:  #ffffff;
  color: #252525;
}

.sideBarItem {
  border-radius: 3px;
  padding: 4px;
  font-size: 14px;
  margin-top: 10px;
}

.shortcutBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4%;
}


/* Button Container */
.toggleButtonContainer {
  /* display: flex;
  justify-content: flex-end; */
  align-items: center;
  /* padding: 20px; */
  margin-right: 20px;
  margin-bottom: 10px;
  transition: width 0.3s ease-in-out;
}


/* Toggle Button */
.toggleButton {
  padding: 2px 10px;
  font-size: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.toggleButton:hover {
  background-color: #0056b3;
}


.sideBarItem.dark, .shortcutBar.dark{
  background: #272822;
}

.sideBarItem.light, .shortcutBar.light{
  background:  #f7f7f7;
}

.section {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.section-title {
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content:space-between;
}

.section-content {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.rightSidebar {
  background: #f4f4f4;
  padding: 10px;
  height: 100vh;
  overflow-y: auto;
}

.width-15{
  width: 15%;
}

.width-25{
  width: 25%;
}

.width-60{
  width: 60%;
}

.width-100{
  width: 100%;
}

.hidden {
  opacity: 0;
  width: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
}


.page {
  flex: 1 1 auto;
  padding: 0 20px;
  margin: 20px;
  margin-top: 10px;
  border: 1px solid green;
}
.pageContainer {
  display: flex;
  flex: 1;
  height: 100%;
  overflow-y: auto;
  flex-direction: column;
  margin-bottom: 100px;
  transition: width 0.3s ease-in-out; 
}
.dropZone {
  height: 100%;
  /* display: inline-block; */
  min-height: 20px;
  min-width: 10px;
  width: 100%;
  transition: 200ms all;
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone.active {
  background: #00a2ff;
  transition: 100ms all;
}

.component {
  padding: 10px;
  background: #aaa;
}

.col-drop {
  max-width: 100px;
  min-height: 40px;
  flex: 1 0 0%;
}

.row-drop {
  flex: 1 1 auto; 
  max-width: 100%; 
  min-height: 20px;
}

.container {
  border: 1px solid rgb(82, 82, 0);
  padding: 0;
}

.renderer-item {
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
}

.saveButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.saveButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.saveButton:hover {
  background-color: #0056b3;
}



.treeItem {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between; /* Label left, arrow right */
  align-items: center;
}

/* Hover Effect */
.treeItem:not(.selected):hover {
  background: #e0e0e0;
}


/* No extra spacing between children */
.treeChildren {
  width: 100%;
}



::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background: #a5a5a4;

}